
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: bd_usuarios
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    ports:
      - "3005:3005"
    depends_on:
      - db
    environment:
      PORT: 3005
      DB_HOST: db
      DB_NAME: bd_usuarios
      DB_USER: root
      DB_PASS: root
    volumes:
      - .:/app

volumes:
  mysql_data:
